<h1>Sign Up!</h1>

<%= form_for :user, url: '/users' do |f| %>
  Last Name: <%= f.text_field :last_name %>
  First Name: <%= f.text_field :first_name %>
  Email: <%= f.text_field :email %>
  Password: <%= f.password_field :password %>
  Confirm Password: <%= f.password_field :password_confirmation %>
  <%= f.submit "Submit" %>
<% end %>